<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="myBatisDriver" value="com.mysql.jdbc.Driver" />
		<property name="myBatisUrl" value="jdbc:mysql://127.0.0.1:3306/library" />
	</properties>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${myBatisDriver}" />
				<property name="url" value="${myBatisUrl}" />
				<property name="username" value="root" />
				<!--MarkForDBPassword--><property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/sx/db/mapper/BookTableMapper.xml"/>
	</mappers>
</configuration>
