<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.db.mapper.BookTableMapper">
	<select id="getBookList" resultType="com.sx.entity.Book">
		select * from booktable
	</select>
	
	<select id="getBookByISBN" resultType="com.sx.entity.Book">
		select * from booktable where ISBN = #{ISBN}
	</select>


	<select id="getBookByAuthor" resultType="com.sx.entity.Book">
		select * from booktable where Author = #{Author}
	</select>
	
	<select id="getBookByBookName" resultType="com.sx.entity.Book">
		select * from booktable where BookName = #{BookName}
	</select>
	
	<update id="updateBook" parameterType ="com.sx.entity.Book">
		update booktable set BookName=#{bookName}, Author = #{author}, Press = #{press}, PressDate = #{pressDate}, Price = #{price}, Count=#{count},
		TotalPrice = #{totalPrice}, ISBN = #{ISBN}, BookCategory = #{bookCategory}, Language = #{language}, Size = #{size}, Binding = #{binding}, Feature = #{feature} where BID = #{BID}
	</update>
	
		<select id="getBookByBookBID" resultType="com.sx.entity.Book">
		select * from booktable where BID = #{BID}
	</select>
	
	<delete id="delBook" parameterType ="com.sx.entity.Book">
		delete from booktable where ISBN = #{ISBN}
	</delete>	
	
	<insert id="insertBook" parameterType="com.sx.entity.Book">
		insert into booktable
		(
		BookName, Author, Press, PressDate, Price, Count,
		TotalPrice, ISBN, BookCategory, Language, Size, Binding, Feature
		)
		values 
		(
		#{bookName}, #{author}, #{press}, #{pressDate}, #{price}, #{count},
		#{totalPrice}, #{ISBN}, #{bookCategory}, #{language}, #{size}, #{binding},
		#{feature}
		)
	</insert>
	
	<!-- 以下操作均和借书有关，需要count>0的 -->
	<select id="getBookBorrowList" resultType="com.sx.entity.Book">
		select * from booktable where count > 0
	</select>
	
	<select id="getBookBorrowByISBN" resultType="com.sx.entity.Book">
		select * from booktable where ISBN = #{ISBN} and count > 0
	</select>

	<select id="getBookBorrowByAuthor" resultType="com.sx.entity.Book">
		select * from booktable where Author = #{Author} and count > 0
	</select>
	
	<select id="getBookBorrowByBookName" resultType="com.sx.entity.Book">
		select * from booktable where BookName = #{BookName} and count > 0
	</select>
	
	<update id="decBookCount" parameterType="com.sx.entity.Book">
		update booktable set count=count-1 where BID = #{BID};
	</update>
	
	<update id="incBookCount" parameterType="com.sx.entity.Book">
		update booktable set count=count+1 where BID = #{BID};
	</update>
	
</mapper>
