<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.db.mapper.ReaderTableMapper">

<select id="getReaderList" resultType="com.sx.entity.Reader">
	select * from usertable
</select>

<select id="getReaderByUserID" resultType="com.sx.entity.Reader">
	select * from usertable when UserID = #{UserID}
</select>

<select id="getReaderByName" resultType="com.sx.entity.Reader">
	select * from usertable when Name = #{Name}
</select>

<select id="getReaderBySex" resultType="com.sx.entity.Reader">
	select * from usertable when Sex = #{Sex}
</select>

<select id="getReaderByUserGrade" resultType="com.sx.entity.Reader">
	select * from usertable when UserGrade = #{UserGrade}
</select>


	<delete id="delReader" parameterType ="com.sx.entity.Reader">
		delete from booktable where UID=#{UID}
	</delete>	

	
	<insert id="insertUser" parameterType="com.sx.entity.Reader">
		insert into usertable
		(
			UID,Name,Sex,UserGrade,HistoryCount,LimitCount
		)
		values 
		(
			#{UID},#{Name},#{Sex},#{UserGrade},#{HistoryCount},#{LimitCount}
		)
	</insert>
</mapper>
	