<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.db.mapper.ReaderTableMapper">

	<select id="getReaderList" resultType="com.sx.entity.Reader">
		select * from usertable
	</select>
	
	<select id="getReaderByUID" resultType="com.sx.entity.Reader">
		select * from usertable where UID = #{UID}
	</select>
	
	<select id="getReaderByName" resultType="com.sx.entity.Reader">
		select * from usertable where Name = #{Name}
	</select>
	
	<select id="getReaderBySex" resultType="com.sx.entity.Reader">
		select * from usertable where Sex = #{Sex}
	</select>
	
	<select id="getReaderByUserGrade" resultType="com.sx.entity.Reader">
		select * from usertable where UserGrade = #{UserGrade}
	</select>
	
	<delete id="delReader" parameterType ="com.sx.entity.Reader">
		delete from usertable where UID = #{UID}
	</delete>	

	<update id="updateReader" parameterType ="com.sx.entity.Reader" >
		update usertable set UID = #{UID},Name = #{name},Sex = #{Sex},UserGrade = #{UserGrade},HistoryCount = #{HistoryCount},LimitCount = #{LimitCount} where UID = #{UID}
	</update>
	
	<insert id="insertReader" parameterType="com.sx.entity.Reader">
		insert into usertable
		(
			UID,Name,Sex,UserGrade,HistoryCount,LimitCount
		)
		values 
		(
			#{UID},#{Name},#{Sex},#{UserGrade},#{HistoryCount},#{LimitCount}
		)
	</insert>
	
	<update id="decReaderLimit">
		update usertable set LimitCount = LimitCount - #{borrowBooksCount} where UID=#{UID}
	</update>
	
	<update id="incReaderLimit">
		update usertable set LimitCount = LimitCount + #{returnBooksCount} where UID=#{UID}
	</update> 
</mapper>
	
